{{ form_start(editForm) }}
    <div class="form-group">
        {{ form_row(editForm.pseudo, {
            'attr': {
                'class': 'form-control',
                'autofocus': 'true'
            },
            'label_attr': {'class': 'font-weight-bold'}
        }) }}
    </div>
    <div class="form-group">
        {{ form_row(editForm.email, {
            'attr': {'class': 'form-control'},
            'label_attr': {'class': 'font-weight-bold'}
        }) }}
    </div>
    <div class="form-group">
        {{ form_row(editForm.plainPassword, {
            'attr': {'class': 'form-control'},
            'label_attr': {'class': 'font-weight-bold'}
        }) }}
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">{% trans %}Editer{% endtrans %}</button>
    </div>
{{ form_end(editForm) }}
