{{ form_start(registrationForm) }}
    <div class="form-group">
        {{ form_row(registrationForm.pseudo, {
            'attr': {
                'class': 'form-control',
                'autofocus': 'true'
            },
            'label_attr': {'class': 'font-weight-bold'}
        }) }}
    </div>
    <div class="form-group">
        {{ form_row(registrationForm.email, {
            'attr': {'class': 'form-control'},
            'label_attr': {'class': 'font-weight-bold'}
        }) }}
    </div>
    <div class="form-group">
        {{ form_row(registrationForm.plainPassword, {
            'attr': {'class': 'form-control'},
            'label_attr': {'class': 'font-weight-bold'}
        }) }}
    </div>
    {{ form_row(registrationForm.agreeTerms) }}
    <div class="form-group">
        <button class="btn btn-primary form-control" type="submit">{% trans %}S'inscrire{% endtrans %}</button>
    </div>
{{ form_end(registrationForm) }}
